#editor-container {
    height: 100%;
    flex: 1 1 auto;
}

#editor {
    float: left;
    position: relative;
    height: calc(100% - 10px);
}

#output-container {
    float: right;
    position: relative;
    height: 70%;
}
#output {
    right: 0;
    position: relative;
}

#editor, #output, #console {
    border: 2px solid #1b1e24;
    border-radius: 4px;
}

#console {
    flex: 0 1 400px;
    margin-bottom: 7px;
    background: #282c34;
    color: #abb2bf;
    z-index: 9;
    overflow: auto;
}

#input {
    width: 100%;
    padding: 4px 0;
    font-family: "Ubuntu Mono", monospace;
    z-index: 10;
}
#input .arrow {
    padding: 0 0 0 6px;
    color: #61aeee !important;
}
#input input {
    width: calc(100% - 20px);
    float: right;
    background-color: transparent;
    border: none;
    outline: none;
    color: #abb2bf;
    font-family: "Ubuntu Mono", monospace;
    margin: 1px 0;
}

.arrow {
    padding: 0 7px 0 0;
    font-weight: bold;
    font-family: monospace;
}
.logs {
    margin: 0;
    border-bottom: 1px solid #3c4049;
    font-family: "Ubuntu Mono", monospace;
    font-size: 12px;
}
.error code {
    border-color: #fe8080;
    color: #fe8080;
    background-color: #280000;
}

html, body {
    height: 100%;
    margin: 3px;
    background: #20242a;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    height: 100%;
}

button {
    float: right;
    background-color: #383d49;
    color: #9da5b4;
    border: 2px solid #181a1f;
    border-radius: 5px;
    padding: 8px 28px;
    outline: none;
    margin: 0 3px;
}
button:hover {
    background-color: #3c424e;
    color: #d7dae0;
    cursor: pointer;
}
button:focus {
    border-color: #61afef;
    border-width: 2px;
}
button:active {
    background-color: #2c313a;
}
::-webkit-scrollbar {
    color: #3c424e;
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(60, 66, 78, 0.5);
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(60, 66, 78, 0.7);
}
::-webkit-scrollbar-thumb:active {
    background-color: rgba(60, 66, 78, 1);
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}